.home{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-width: 320px;
  min-height:calc(100vh - 9rem);
  padding: 5rem;
}
.home__text{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 60%;
  padding: 0 0 0 6rem;
  font-size: 2rem;
  color: var(--white-color);
}
.home__text h1{
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 5px;
  color: var(--secondary-color);
  text-shadow: 2px 2px 1px var(--blue-color);
}
.home__text p:nth-child(1){
  margin-bottom: 2rem;
}
.home__text p{
  line-height: 2.5rem;
}
.home__text--pasion{
  margin-top: 2rem;
}
.home__image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.home__image img{
  width: 80%;
}
.home__text--pasion{
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px){
  .home{
    position: relative;
    padding: 4rem 2rem;
    min-height: calc(100vh - 4rem);
  }
  .home__image{
    position: absolute;
    bottom: 0;
    right: 0rem;
    width: 40%;
  }
  .home__text{
    justify-content: flex-start;
    width: 100%;
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 640px){
  .home{
    padding: 4rem 0;
  }
  .home__image{
    position: absolute;
    bottom: 5%;
    right: 0rem;
    width: 45%;
    justify-content: flex-end;
  }
  .home__text{
    padding-left: 2rem;
  }
  .home__text h1{
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .home__image img{
    min-width: 150px;
  }
}
@media only screen and (max-width: 420px){
  .home__text--pasion{
    padding-right: 2rem;
  }
}